{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="vh-100" style="background-color: #1769b2;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-7">

                    <h1 class="text-white mb-3">Registro</h1>

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">

                            {{ form_start(registrationForm) }}

                            <!--<div class="col-md-3 ps-5">
                                <h6 class="mb-0">NOMBRE</h6>
                            </div>-->
                            <div class="col-md-9 pe-5">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                                        </div>
                                        {{ form_row(registrationForm.nombre, {
                                                'label': false,
                                                'attr' : {
                                                    'placeholder' : 'nombre',
                                                    'class' : 'form-control form-control-lg',
                                                    'required' : true                    
                                                }
                                        }) }}
                                    </div>
                                </form>
                            </div>
                        
                            <div class="col-md-9 pe-5">
                                <!--<input type="text" class="form-control form-control-lg" />-->
                                <form class="form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Apellido</span>
                                        </div>
                                        {{ form_row(registrationForm.apellido, {
                                            'label': false,
                                            'attr' : {
                                                'placeholder' : 'apellido',
                                                'class' : 'form-control form-control-lg',
                                                'required' : true                    
                                            }
                                        }) }}
                                    </div>
                                </form>
                            </div>

                            <hr class="mx-n3">
                        <div class="row align-items-center py-3">
                            
                            <div class="col-md-9 pe-5">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Correo</span>
                                        </div>
                                        {{ form_row(registrationForm.correo,{
                                            'label' : false,
                                            'attr' : {
                                                'placeholder' : 'correo electrónico',
                                                'class' : 'form-control form-control-lg',
                                                'required' : true                    
                                            }
                                        }) }}
                                    </div>
                                </form>
                            </div>
                    
                            <div class="col-md-9 pe-5">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Contraseña</span>
                                        </div>
                                        {{ form_row(registrationForm.plainPassword,{
                                            'label' : false,
                                            'attr' : {
                                                'autocomplete' : 'new-password',
                                                'placeholder' : 'contraseña',
                                                'class' : 'form-control form-control-lg',
                                                'required' : true                    
                                            }
                                        }) }}
                                    </div>
                                </form>
                            </div>
                        
                        </div>
                            <hr class="mx-n3">
                        <div class="row align-items-center py-3">
                            
                            <div class="col-md-3 py-3">

                                <h6 class="mb-0">Terminos y Condiciones</h6>

                            </div>
                            <div class="col-md-9 pe-5">
                                {{ form_row(registrationForm.agreeTerms,{
                                    'label' : ' '
                                }) }}
                            </div>
                        
                            <div class="px-5 py-4">
                                {{ form_row(registrationForm.submit) }}
                                <!--<button type="submit" class="btn btn-primary btn-lg">Register</button>-->
                            </div>

                            {{ form_end(registrationForm) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
